<tr>
  <td><%= order.transaction_date %></td>
  <td><%= order.total_amount %></td>
  <td class="action-cell">
    <%= link_to "Show this order", order, class: 'btn btn-primary btn-sm' %>
  </td>
</tr>
