<div id="<%= dom_id order %>">
  <p>
    <strong>Transaction date:</strong>
    <%= order.transaction_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= order.total_amount %>
  </p>

  <p>
    <strong>Total tax:</strong>
    <%= order.total_tax %>
  </p>

</div>
