<p style="color: green"><%= notice %></p>

<h1>Orders</h1>

<div class="table-responsive">
  <table class="table table-striped table-bordered table-fixed-columns table-compact">
    <thead>
      <tr>
        <th>ID</th> <!-- Added ID Column -->
        <th>Transaction Date</th>
        <th>Total Amount</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      <% @orders.each do |order| %>
        <%= render 'order', order: order %>
      <% end %>
    </tbody>
  </table>
</div>

<%= link_to "New order", new_order_path %>
