<div id="<%= dom_id sales_header %>">
  <p>
    <strong>Transaction date:</strong>
    <%= sales_header.transaction_date %>
  </p>

  <p>
    <strong>Total amount:</strong>
    <%= sales_header.total_amount %>
  </p>

  <p>
    <strong>Total tax:</strong>
    <%= sales_header.total_tax %>
  </p>

</div>
