<h1>Editing sales header</h1>

<%= render "form", sales_header: @sales_header %>

<br>

<div>
  <%= link_to "Show this sales header", @sales_header %> |
  <%= link_to "Back to sales headers", sales_headers_path %>
</div>
