<tr class="nested-fields">
  <td><%= f.text_field :item %></td>
  <td><%= f.number_field :quantity %></td>
  <td>
    <%= button_tag 'Remove', type: 'button', class: 'remove-item btn btn-danger btn-sm' %>
  </td>
</tr>

