<tr class="nested-fields">
  <td><%= f.text_field :item_name %></td>
  <td><%= f.number_field :price %></td>
  <td><%= f.number_field :quantity %></td>
  <td>
    <%= link_to 'Remove', '#', class: 'remove-item btn btn-danger btn-sm' %>
  </td>
</tr>
