<h1>Editing order line</h1>

<%= render "form", order_line: @order_line %>

<br>

<div>
  <%= link_to "Show this order line", @order_line %> |
  <%= link_to "Back to order lines", order_lines_path %>
</div>
